.heading {
  background-color: rgb(98, 98, 98);
  border: 3px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .brand_logo {
    display: flex;
    align-items: center;

    h1 {
      font-size: 200%;
    }
  }
}

.nav {
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: sticky;
  padding: 0 10px;
  background-color: rgb(26, 26, 26);

  a {
    display: block;
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
  }

  .leftlink {
    color: silver;
  }

  .rightlink {
    color: silver;
    float: right;
  }
  :link {
    margin: 0 10px 0 0;
  }
}

.products {
  align-content: center;
  border: 2px solid ivory;
  background-color: black;
  border-radius: 5px;
  padding: 10px;

  h3 {
    color: greenyellow;
    margin-left: 15px;
  }

  h2 {
    color: darkorange;
    margin-left: 15px;
  }

  #product_name {
    color: greenyellow;
    font-family: cambria;
  }

  .product_map {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;

    #product_info {
      background-color: rgb(46, 46, 46);
      border: 1px solid orange;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;

      img {
        border-radius: 5px;
        border: 1px solid orange;
        background-color: black;
        padding: 3px;
      }

      .details {
        color: silver;
      }
    }
  }
}

.card_content {
  display: flex;
  text-align: left;
  background-color: rgb(46, 46, 46);
  border: 1px solid orange;
  border-radius: 5px;
  width: 80%;

  img {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: black;
    padding: 3px;
  }
  figcaption {
    padding: 10px;

    #product_name {
      font-size: 130%;
      color: greenyellow;
    }
  }
}

.all_products,
.categories,
.cart {
  background-color: black;
  border: 2px solid ivory;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;

  h2 {
    color: greenyellow;
  }
}

form {
  color: greenyellow;
  background-color: black;
  border: 2px solid ivory;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;

  label {
    padding: 10px;
  }

  input {
    margin-right: 10px;
  }

  .spacer {
    height: 400px;
  }
}

@font-face {
  font-family: caudexR;
  src: url(./components/assets/Caudex-Regular.ttf);
}

@font-face {
  font-family: caudexI;
  src: url(./components/assets/Caudex-Italic.ttf);
}

@font-face {
  font-family: caudexB;
  src: url(./components/assets/Caudex-Bold.ttf);
}

@font-face {
  font-family: caudexBI;
  src: url(./components/assets/Caudex-BoldItalic.ttf);
}
