.heading {
  display: flex;
  align-items: center;
  background-color: rgb(98, 98, 98);
  border: 2px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .brand_logo {
    display: flex;
    align-items: center;

    h1 {
      font-size: 30px;
      margin: 0px;
    }
  }

  .exp_button {
    p {
      font-family: caudexBI;
      color: white;
      font-size: 16px;
      text-align: center;
      background-color: rgb(78, 78, 78);
      border: 1px solid greenyellow;
      padding: 10px;
      margin-left: 100px;
      margin-right: 10px;
      border-radius: 5px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  font-family: caudexB;
  padding: 0 10px;
  color: rgb(0, 49, 64);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  :link {
    margin: 0 10px 0 0;
  }
}

.products {
  align-content: center;
  border: 3px solid ivory;
  background-color: black;
  border-radius: 5px;
  padding: 10px;

  h2 {
    color: greenyellow;
  }

  .product_map {
    display: flex;
    text-align: center;

    #product_info {
      background-color: rgb(46, 46, 46);
      border: 1px solid orange;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;
      width: 25%;

      img {
        border-radius: 5px;
        border: 1px solid orange;
        background-color: black;
        padding: 3px;
      }
    }
  }
}

figure {
  display: flex;
  text-align: left;
  background-color: rgb(46, 46, 46);
  border: 1px solid orange;
  border-radius: 5px;
  width: 80%;

  img{
    margin: 10px;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: black;
    padding: 3px;
  }
  figcaption {
    padding-left: 10px;

    #product_name {
      padding-bottom: 20px;
    }
  }
}

form {
  color: greenyellow;
  background-color: black;
  border: 3px solid ivory;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  padding: 5px;

  label {
    padding: 10px;
  }

  input {
    margin-right: 10px;
  }

  .spacer {
    height: 400px;
  }
}

@font-face {
  font-family: caudexR;
  src: url(./components/assets/Caudex-Regular.ttf);
}

@font-face {
  font-family: caudexI;
  src: url(./components/assets/Caudex-Italic.ttf);
}

@font-face {
  font-family: caudexB;
  src: url(./components/assets/Caudex-Bold.ttf);
}

@font-face {
  font-family: caudexBI;
  src: url(./components/assets/Caudex-BoldItalic.ttf);
}
